/*
 * Mastercard Loyalty Connect Service
 * Rest Service for connecting payment cards with loyalty programs
 *
 * The version of the OpenAPI document: 1.0
 * Contact: apisupport@mastercard.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.mastercard.developer.mastercard_loyalty_connect_client.api;

import com.mastercard.developer.mastercard_loyalty_connect_client.ApiCallback;
import com.mastercard.developer.mastercard_loyalty_connect_client.ApiClient;
import com.mastercard.developer.mastercard_loyalty_connect_client.ApiException;
import com.mastercard.developer.mastercard_loyalty_connect_client.ApiResponse;
import com.mastercard.developer.mastercard_loyalty_connect_client.Configuration;
import com.mastercard.developer.mastercard_loyalty_connect_client.Pair;
import com.mastercard.developer.mastercard_loyalty_connect_client.ProgressRequestBody;
import com.mastercard.developer.mastercard_loyalty_connect_client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.mastercard.developer.mastercard_loyalty_connect_client.model.EnrollLoyaltyConnectResponse;
import com.mastercard.developer.mastercard_loyalty_connect_client.model.LoyaltyConnect;
import com.mastercard.developer.mastercard_loyalty_connect_client.model.LoyaltyConnectResponse;
import com.mastercard.developer.mastercard_loyalty_connect_client.model.MemberRefIdError;
import com.mastercard.developer.mastercard_loyalty_connect_client.model.ServiceUnAvailableError;
import com.mastercard.developer.mastercard_loyalty_connect_client.model.UnauthAccessError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class LoyaltyConnectApi {
    private ApiClient localVarApiClient;

    public LoyaltyConnectApi() {
        this(Configuration.getDefaultApiClient());
    }

    public LoyaltyConnectApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for deleteLoyaltyConnect
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnectReferenceId A system generated unique identifier for the Member&#39;s Payment Card and Merchant Loyalty ID connection (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 202 </td><td> Loyalty Connect successfully deleted </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteLoyaltyConnectCall(String memberReferenceId, String loyaltyConnectReferenceId, String xMerchantKey, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/members/{member_reference_id}/loyalty-connects/{loyalty_connect_reference_id}"
            .replaceAll("\\{" + "member_reference_id" + "\\}", localVarApiClient.escapeString(memberReferenceId.toString()))
            .replaceAll("\\{" + "loyalty_connect_reference_id" + "\\}", localVarApiClient.escapeString(loyaltyConnectReferenceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xMerchantKey != null) {
            localVarHeaderParams.put("X-Merchant-Key", localVarApiClient.parameterToString(xMerchantKey));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteLoyaltyConnectValidateBeforeCall(String memberReferenceId, String loyaltyConnectReferenceId, String xMerchantKey, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'memberReferenceId' is set
        if (memberReferenceId == null) {
            throw new ApiException("Missing the required parameter 'memberReferenceId' when calling deleteLoyaltyConnect(Async)");
        }
        
        // verify the required parameter 'loyaltyConnectReferenceId' is set
        if (loyaltyConnectReferenceId == null) {
            throw new ApiException("Missing the required parameter 'loyaltyConnectReferenceId' when calling deleteLoyaltyConnect(Async)");
        }
        

        okhttp3.Call localVarCall = deleteLoyaltyConnectCall(memberReferenceId, loyaltyConnectReferenceId, xMerchantKey, _callback);
        return localVarCall;

    }

    /**
     * Disconnects a specific payment card and Loyalty ID for a member
     * Delete a specific Loyalty ID and payment card connection for a member based on the unique reference key for the connection.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnectReferenceId A system generated unique identifier for the Member&#39;s Payment Card and Merchant Loyalty ID connection (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 202 </td><td> Loyalty Connect successfully deleted </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public void deleteLoyaltyConnect(String memberReferenceId, String loyaltyConnectReferenceId, String xMerchantKey) throws ApiException {
        deleteLoyaltyConnectWithHttpInfo(memberReferenceId, loyaltyConnectReferenceId, xMerchantKey);
    }

    /**
     * Disconnects a specific payment card and Loyalty ID for a member
     * Delete a specific Loyalty ID and payment card connection for a member based on the unique reference key for the connection.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnectReferenceId A system generated unique identifier for the Member&#39;s Payment Card and Merchant Loyalty ID connection (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 202 </td><td> Loyalty Connect successfully deleted </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> deleteLoyaltyConnectWithHttpInfo(String memberReferenceId, String loyaltyConnectReferenceId, String xMerchantKey) throws ApiException {
        okhttp3.Call localVarCall = deleteLoyaltyConnectValidateBeforeCall(memberReferenceId, loyaltyConnectReferenceId, xMerchantKey, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Disconnects a specific payment card and Loyalty ID for a member (asynchronously)
     * Delete a specific Loyalty ID and payment card connection for a member based on the unique reference key for the connection.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnectReferenceId A system generated unique identifier for the Member&#39;s Payment Card and Merchant Loyalty ID connection (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 202 </td><td> Loyalty Connect successfully deleted </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteLoyaltyConnectAsync(String memberReferenceId, String loyaltyConnectReferenceId, String xMerchantKey, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = deleteLoyaltyConnectValidateBeforeCall(memberReferenceId, loyaltyConnectReferenceId, xMerchantKey, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for enrollLoyaltyConnect
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnect Contains payment card and loyalty program details (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Successfully connected payment card to loyalty </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call enrollLoyaltyConnectCall(String memberReferenceId, LoyaltyConnect loyaltyConnect, String xMerchantKey, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = loyaltyConnect;

        // create path and map variables
        String localVarPath = "/members/{member_reference_id}/loyalty-connects"
            .replaceAll("\\{" + "member_reference_id" + "\\}", localVarApiClient.escapeString(memberReferenceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xMerchantKey != null) {
            localVarHeaderParams.put("X-Merchant-Key", localVarApiClient.parameterToString(xMerchantKey));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call enrollLoyaltyConnectValidateBeforeCall(String memberReferenceId, LoyaltyConnect loyaltyConnect, String xMerchantKey, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'memberReferenceId' is set
        if (memberReferenceId == null) {
            throw new ApiException("Missing the required parameter 'memberReferenceId' when calling enrollLoyaltyConnect(Async)");
        }
        
        // verify the required parameter 'loyaltyConnect' is set
        if (loyaltyConnect == null) {
            throw new ApiException("Missing the required parameter 'loyaltyConnect' when calling enrollLoyaltyConnect(Async)");
        }
        

        okhttp3.Call localVarCall = enrollLoyaltyConnectCall(memberReferenceId, loyaltyConnect, xMerchantKey, _callback);
        return localVarCall;

    }

    /**
     * Connects payment card and Loyalty ID for a member
     * Connects a member&#39;s payment card with Loyalty ID. The member must have the payment card and Loyalty ID enrolled before making this connection.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnect Contains payment card and loyalty program details (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @return EnrollLoyaltyConnectResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Successfully connected payment card to loyalty </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public EnrollLoyaltyConnectResponse enrollLoyaltyConnect(String memberReferenceId, LoyaltyConnect loyaltyConnect, String xMerchantKey) throws ApiException {
        ApiResponse<EnrollLoyaltyConnectResponse> localVarResp = enrollLoyaltyConnectWithHttpInfo(memberReferenceId, loyaltyConnect, xMerchantKey);
        return localVarResp.getData();
    }

    /**
     * Connects payment card and Loyalty ID for a member
     * Connects a member&#39;s payment card with Loyalty ID. The member must have the payment card and Loyalty ID enrolled before making this connection.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnect Contains payment card and loyalty program details (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @return ApiResponse&lt;EnrollLoyaltyConnectResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Successfully connected payment card to loyalty </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<EnrollLoyaltyConnectResponse> enrollLoyaltyConnectWithHttpInfo(String memberReferenceId, LoyaltyConnect loyaltyConnect, String xMerchantKey) throws ApiException {
        okhttp3.Call localVarCall = enrollLoyaltyConnectValidateBeforeCall(memberReferenceId, loyaltyConnect, xMerchantKey, null);
        Type localVarReturnType = new TypeToken<EnrollLoyaltyConnectResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Connects payment card and Loyalty ID for a member (asynchronously)
     * Connects a member&#39;s payment card with Loyalty ID. The member must have the payment card and Loyalty ID enrolled before making this connection.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnect Contains payment card and loyalty program details (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Successfully connected payment card to loyalty </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call enrollLoyaltyConnectAsync(String memberReferenceId, LoyaltyConnect loyaltyConnect, String xMerchantKey, final ApiCallback<EnrollLoyaltyConnectResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = enrollLoyaltyConnectValidateBeforeCall(memberReferenceId, loyaltyConnect, xMerchantKey, _callback);
        Type localVarReturnType = new TypeToken<EnrollLoyaltyConnectResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getLoyaltyConnect
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnectReferenceId A system generated unique identifier for the Member&#39;s Payment Card and Merchant Loyalty ID connection (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Loyalty Connect is successfully fetched </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getLoyaltyConnectCall(String memberReferenceId, String loyaltyConnectReferenceId, String xMerchantKey, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/members/{member_reference_id}/loyalty-connects/{loyalty_connect_reference_id}"
            .replaceAll("\\{" + "member_reference_id" + "\\}", localVarApiClient.escapeString(memberReferenceId.toString()))
            .replaceAll("\\{" + "loyalty_connect_reference_id" + "\\}", localVarApiClient.escapeString(loyaltyConnectReferenceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xMerchantKey != null) {
            localVarHeaderParams.put("X-Merchant-Key", localVarApiClient.parameterToString(xMerchantKey));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getLoyaltyConnectValidateBeforeCall(String memberReferenceId, String loyaltyConnectReferenceId, String xMerchantKey, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'memberReferenceId' is set
        if (memberReferenceId == null) {
            throw new ApiException("Missing the required parameter 'memberReferenceId' when calling getLoyaltyConnect(Async)");
        }
        
        // verify the required parameter 'loyaltyConnectReferenceId' is set
        if (loyaltyConnectReferenceId == null) {
            throw new ApiException("Missing the required parameter 'loyaltyConnectReferenceId' when calling getLoyaltyConnect(Async)");
        }
        

        okhttp3.Call localVarCall = getLoyaltyConnectCall(memberReferenceId, loyaltyConnectReferenceId, xMerchantKey, _callback);
        return localVarCall;

    }

    /**
     * Get a specific Loyalty ID and payment card connection details for a member
     * Returns the Loyalty ID and payment card details for a member if the Loyalty ID exists as connected with the payment card based on the unique reference key for the connection.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnectReferenceId A system generated unique identifier for the Member&#39;s Payment Card and Merchant Loyalty ID connection (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @return LoyaltyConnectResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Loyalty Connect is successfully fetched </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public LoyaltyConnectResponse getLoyaltyConnect(String memberReferenceId, String loyaltyConnectReferenceId, String xMerchantKey) throws ApiException {
        ApiResponse<LoyaltyConnectResponse> localVarResp = getLoyaltyConnectWithHttpInfo(memberReferenceId, loyaltyConnectReferenceId, xMerchantKey);
        return localVarResp.getData();
    }

    /**
     * Get a specific Loyalty ID and payment card connection details for a member
     * Returns the Loyalty ID and payment card details for a member if the Loyalty ID exists as connected with the payment card based on the unique reference key for the connection.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnectReferenceId A system generated unique identifier for the Member&#39;s Payment Card and Merchant Loyalty ID connection (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @return ApiResponse&lt;LoyaltyConnectResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Loyalty Connect is successfully fetched </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<LoyaltyConnectResponse> getLoyaltyConnectWithHttpInfo(String memberReferenceId, String loyaltyConnectReferenceId, String xMerchantKey) throws ApiException {
        okhttp3.Call localVarCall = getLoyaltyConnectValidateBeforeCall(memberReferenceId, loyaltyConnectReferenceId, xMerchantKey, null);
        Type localVarReturnType = new TypeToken<LoyaltyConnectResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get a specific Loyalty ID and payment card connection details for a member (asynchronously)
     * Returns the Loyalty ID and payment card details for a member if the Loyalty ID exists as connected with the payment card based on the unique reference key for the connection.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param loyaltyConnectReferenceId A system generated unique identifier for the Member&#39;s Payment Card and Merchant Loyalty ID connection (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Loyalty Connect is successfully fetched </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getLoyaltyConnectAsync(String memberReferenceId, String loyaltyConnectReferenceId, String xMerchantKey, final ApiCallback<LoyaltyConnectResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getLoyaltyConnectValidateBeforeCall(memberReferenceId, loyaltyConnectReferenceId, xMerchantKey, _callback);
        Type localVarReturnType = new TypeToken<LoyaltyConnectResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getLoyaltyConnects
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @param memberMerchantReferenceId A system generated unique identifier for the Member and Merchant Loyalty ID connection (optional, default to &quot;3ed6cfa1-f7d9-40ba-9a86-d443ad302ad0&quot;)
     * @param paymentCardReferenceId A system generated unique identifier for the Payment card enrolled for the Member (optional, default to &quot;5f0d07c1-6fc4-4e74-9152-0e20bb7104d9&quot;)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Loyalty Connects are successfully fetched </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getLoyaltyConnectsCall(String memberReferenceId, String xMerchantKey, String memberMerchantReferenceId, String paymentCardReferenceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/members/{member_reference_id}/loyalty-connects"
            .replaceAll("\\{" + "member_reference_id" + "\\}", localVarApiClient.escapeString(memberReferenceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (memberMerchantReferenceId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("member_merchant_reference_id", memberMerchantReferenceId));
        }

        if (paymentCardReferenceId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("payment_card_reference_id", paymentCardReferenceId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xMerchantKey != null) {
            localVarHeaderParams.put("X-Merchant-Key", localVarApiClient.parameterToString(xMerchantKey));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getLoyaltyConnectsValidateBeforeCall(String memberReferenceId, String xMerchantKey, String memberMerchantReferenceId, String paymentCardReferenceId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'memberReferenceId' is set
        if (memberReferenceId == null) {
            throw new ApiException("Missing the required parameter 'memberReferenceId' when calling getLoyaltyConnects(Async)");
        }
        

        okhttp3.Call localVarCall = getLoyaltyConnectsCall(memberReferenceId, xMerchantKey, memberMerchantReferenceId, paymentCardReferenceId, _callback);
        return localVarCall;

    }

    /**
     * Get payment card and Loyalty ID connection details for a member
     * Returns all payment card and Loyalty ID connections for the member. If the member wants to view the payment cards connected for a specific Loyalty ID, then the member merchant reference key must be provided. If the member wants to view the Loyalty IDs connected for a specific payment card, then the payment card reference key must be provided.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @param memberMerchantReferenceId A system generated unique identifier for the Member and Merchant Loyalty ID connection (optional, default to &quot;3ed6cfa1-f7d9-40ba-9a86-d443ad302ad0&quot;)
     * @param paymentCardReferenceId A system generated unique identifier for the Payment card enrolled for the Member (optional, default to &quot;5f0d07c1-6fc4-4e74-9152-0e20bb7104d9&quot;)
     * @return List&lt;LoyaltyConnectResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Loyalty Connects are successfully fetched </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public List<LoyaltyConnectResponse> getLoyaltyConnects(String memberReferenceId, String xMerchantKey, String memberMerchantReferenceId, String paymentCardReferenceId) throws ApiException {
        ApiResponse<List<LoyaltyConnectResponse>> localVarResp = getLoyaltyConnectsWithHttpInfo(memberReferenceId, xMerchantKey, memberMerchantReferenceId, paymentCardReferenceId);
        return localVarResp.getData();
    }

    /**
     * Get payment card and Loyalty ID connection details for a member
     * Returns all payment card and Loyalty ID connections for the member. If the member wants to view the payment cards connected for a specific Loyalty ID, then the member merchant reference key must be provided. If the member wants to view the Loyalty IDs connected for a specific payment card, then the payment card reference key must be provided.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @param memberMerchantReferenceId A system generated unique identifier for the Member and Merchant Loyalty ID connection (optional, default to &quot;3ed6cfa1-f7d9-40ba-9a86-d443ad302ad0&quot;)
     * @param paymentCardReferenceId A system generated unique identifier for the Payment card enrolled for the Member (optional, default to &quot;5f0d07c1-6fc4-4e74-9152-0e20bb7104d9&quot;)
     * @return ApiResponse&lt;List&lt;LoyaltyConnectResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Loyalty Connects are successfully fetched </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<LoyaltyConnectResponse>> getLoyaltyConnectsWithHttpInfo(String memberReferenceId, String xMerchantKey, String memberMerchantReferenceId, String paymentCardReferenceId) throws ApiException {
        okhttp3.Call localVarCall = getLoyaltyConnectsValidateBeforeCall(memberReferenceId, xMerchantKey, memberMerchantReferenceId, paymentCardReferenceId, null);
        Type localVarReturnType = new TypeToken<List<LoyaltyConnectResponse>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get payment card and Loyalty ID connection details for a member (asynchronously)
     * Returns all payment card and Loyalty ID connections for the member. If the member wants to view the payment cards connected for a specific Loyalty ID, then the member merchant reference key must be provided. If the member wants to view the Loyalty IDs connected for a specific payment card, then the payment card reference key must be provided.
     * @param memberReferenceId A system generated unique identifier for the Member enrolled in MLC (required)
     * @param xMerchantKey Key assigned to a &#39;Merchant&#39; Business Partner at the time of onboarding (optional, default to &quot;108d9290-5516-4235-ac0d-fddb04c6b003&quot;)
     * @param memberMerchantReferenceId A system generated unique identifier for the Member and Merchant Loyalty ID connection (optional, default to &quot;3ed6cfa1-f7d9-40ba-9a86-d443ad302ad0&quot;)
     * @param paymentCardReferenceId A system generated unique identifier for the Payment card enrolled for the Member (optional, default to &quot;5f0d07c1-6fc4-4e74-9152-0e20bb7104d9&quot;)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Loyalty Connects are successfully fetched </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Member reference id not found </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized access to information </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Service not available </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getLoyaltyConnectsAsync(String memberReferenceId, String xMerchantKey, String memberMerchantReferenceId, String paymentCardReferenceId, final ApiCallback<List<LoyaltyConnectResponse>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getLoyaltyConnectsValidateBeforeCall(memberReferenceId, xMerchantKey, memberMerchantReferenceId, paymentCardReferenceId, _callback);
        Type localVarReturnType = new TypeToken<List<LoyaltyConnectResponse>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
